@font-face {
    font-family:"Space Mono";
    font-style: normal;
    font-weight: 400;
    src: url("../font/SpaceMono-Bold.woff2") format("woff2"),
         url("../font/SpaceMono-Bold.woff") format("woff");
}

@font-face {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 700;
    src: url("../font/LexendDeca-Regular.woff2") format("woff2"), 
         url("../font/LexendDeca-Regular.woff") format("woff"); 
}